body {
    font-family: Helvetica;
    font-size: 16px;
    color: rgb(32, 40, 91);
    margin: 0;
}

ul {
    margin: 0;
}

footer > h3 {
    margin: 0;
    padding: 1em;
}

footer > a {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

nav {
    background-color: rgb(0, 128, 129);
    margin: 0;
    color: rgb(32, 40, 91);
    padding: 1em;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-list a {
    display: block;
    padding: 0.5em;
  }

footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(0, 128, 129);
    margin: 0;
    color: rgb(32, 40, 91);
    padding: 1em;
    align-items: baseline;
    justify-content: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.footer-list a {
    display: block;
    padding: 0.5em;
}

hr {
    border: 1px solid rgb(32, 40, 91);
}

main {
    background-color: rgb(252, 209, 42);
    padding: 2em;
}

article > hgroup {
    background-color: rgb(204, 119, 34);
    padding: 1em;
}

.skills {
    background-color: antiquewhite;
    padding: 1em;
    flex: 1;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    background-color: rgb(114, 133, 165);
    padding: 1em;
    flex: 2;
}

.stayConnected {
    background-color: rgb(204, 119, 34);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
}
/* .contact-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
} */