body {
    font-family: Helvetica;
    font-size: 16px;
    color: rgb(28, 33, 65);
    margin: 0;
}

article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:    "hg hg hg hg"
                            "s am am am "
                            "sc sc sc sc";
}

.skills {
    background-color: antiquewhite;
    padding: 1em;
    flex: 1;
    grid-area: s;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    background-color: rgb(190, 203, 225);
    padding: 1em;
    flex: 2;
    grid-area: am;
}

.aboutMeContent {
    display: flex;
    flex-direction: column;
}

.stayConnected {
    /* background-color: rgb(204, 119, 34);
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: sc; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: cf;
}

.content {
    display: flex;
    flex-direction: row;
    grid-area: c;
}

ul {
    margin: 0;
}

footer > h3 {
    margin: 0;
    padding: 1em;
}

footer > a {
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

nav {
    background-color: rgb(28, 33, 65);
    margin: 0;
    color: rgb(28, 33, 65);
    padding: 1em;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-list a {
    display: block;
    padding: 0.5em;
}

footer {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: rgb(28, 33, 65);
    margin: 0;
    color: rgb(28, 33, 65);
    padding: 1em;
    align-items: baseline;
    justify-content: center;
}

.footer-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.footer-list a {
    display: block;
    padding: 0.5em;
}

hr {
    border: 1px solid rgb(32, 40, 91);
}

main {
    background-color: rgb(255, 255, 255);
    padding: 2em;
}

article > hgroup {
    background-color: rgb(252, 246, 172);
    padding: 1em;
    grid-area: hg;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:    "hg hg"
                                "s s "
                                "am am"
                                "sc sc";
    }
    footer {
        width: 100%;
    }
    .aboutMe {
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    figure {
        overflow: hidden;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}